<!-- Nav tabs -->
<ul id="processmetrics-tabs" class="nav nav-tabs" role="tablist">
  <li id="bcatsauthor-tab" role="presentation" class="bug {{bcatsauthor}}">
    <a href="/processmetrics/bug_cats" aria-controls="bcatsauthor" role="tab">Bug Categories</a>
  </li>
  <li id="bstatuser-tab" role="presentation" class="bug {{bstatuser}}">
    <a href="/processmetrics/status_user" aria-controls="bstatuser" role="tab">Bug Status (open/closed)</a>
  </li>
  <li role="presentation" class="bug {{commentsuser}}">
    <a href="/processmetrics/comments_user" aria-controls="commentsuser" role="tab">Comments per user</a>
  </li>
  <li role="presentation" class="{{issuesattribute}}">
    <a href="/processmetrics/issues_attribute" aria-controls="issuesattribute" role="tab">Issues per attribute</a>
  </li>
  <li role="presentation" class="{{issuesuser}}">
    <a href="/processmetrics/issues_user" aria-controls="issuesuser" role="tab">Issues per user</a>
  </li>
  <li role="presentation" class="{{patchesuser}}">
    <a href="/processmetrics/patches_user" aria-controls="patchesuser" role="tab">Patches per user</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {{!-- bug categories per author --}}
  <div role="tabpanel" class="bug tab-pane {{bcatsauthor}} fade in" id="bcatsauthor">

    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <div class="row" id="bcatsauthor_users"></div>

            {{!-- switch chart type control --}}
{{!--             <label class="radio-inline">
              <input type="radio" name="charttype" id="charttypetrend" value="trend"> trend-chart
            </label>
            <label class="radio-inline">
              <input type="radio" name="charttype" id="charttypebox" value="box"> box-plot
            </label>
 --}}
          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="process-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  {{!-- bug closed/opened per user --}}
  <div role="tabpanel" class="bug tab-pane {{bstatuser}}" id="bstatuser">
  bug status
  </div>

  {{!-- comments per user --}}
  <div role="tabpanel" class="bug tab-pane {{commentsuser}}" id="commentsuser">
  comments per user
  </div>

  {{!-- issues per attribute --}}
  <div role="tabpanel" class="tab-pane {{issuesattribute}}" id="issuesattribute">
  issues per attribute
  </div>

  {{!-- issues per user --}}
  <div role="tabpanel" class="tab-pane {{issuesuser}}" id="issuesuser">
  issues per user
  </div>

  {{!-- patches per user --}}
  <div role="tabpanel" class="tab-pane {{patchesuser}}" id="patchesuser">
  patches per user
  </div>
</div>
