<!-- Nav tabs -->
<ul id="processmetrics-tabs" class="nav nav-tabs" role="tablist">
  <li id="bcatsauthor-tab" role="presentation" class="{{bcatsauthor}}">
    <a href="/processmetrics/bug_severities" aria-controls="bcatsauthor" role="tab">Bug Severities</a>
  </li>
  <li id="bstatuser-tab" role="presentation" class="{{bstatuser}}">
    <a href="/processmetrics/bug_status" aria-controls="bstatuser" role="tab">Bug Status (open/closed)</a>
  </li>
  <li role="presentation" class="{{commentsuser}}">
    <a href="/processmetrics/comments_user" aria-controls="commentsuser" role="tab">Comments per user</a>
  </li>
  <li role="presentation" class="{{bugsattribute}}">
    <a href="/processmetrics/bugs_attribute" aria-controls="bugsattribute" role="tab">Bugs per attribute</a>
  </li>
  <li role="presentation" class="{{patchesuser}}">
    <a href="/processmetrics/patches_user" aria-controls="patchesuser" role="tab">Patches per user</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {{!-- bug categories per author --}}
  <div role="tabpanel" class="bug tab-pane {{bcatsauthor}} fade in" id="bcatsauthor">

    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <form class="form-horizontal">
              <div class="form-group form-group-sm">
                <div class="row" id="bcatsauthor_users"></div>

                {{!-- switch bug categories control --}}
                {{!--<div class="row" id="bcatsauthor_categories">
                  {{! here goes the categories checkboxes }}
                </div>--}}

            {{!-- switch chart type control --}}
{{!--             <label class="radio-inline">
              <input type="radio" name="charttype" id="charttypetrend" value="trend"> trend-chart
            </label>
            <label class="radio-inline">
              <input type="radio" name="charttype" id="charttypebox" value="box"> box-plot
            </label>
 --}}
              </div>
            </form>
          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="process-bcatsauthor-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  {{!-- bug closed/opened per user --}}
  <div role="tabpanel" class="bug tab-pane {{bstatuser}}" id="bstatuser">

    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <form class="form-horizontal">
              <div class="form-group form-group-sm">

                {{!-- switch user control --}}
                <div class="row" id="bstatuser_users"></div>

                {{!-- switch bug status control --}}
                <div class="row" id="bstatuser_status">
                  <label for="openclosed" class="col-sm-2 control-label">Status</label>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="openclosed" id="bugopenclosed" value="both" checked="checked"> both
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="openclosed" id="bugopen" value="1"> open
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="openclosed" id="bugclosed" value="0"> closed
                    </label>
                  </div>
                </div>

                {{!-- switch chart type control --}}
                <div class="row" id="bstatuser_charttype">
                  <label for="charttype" class="col-sm-2 control-label">Chart-Type</label>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="chartype" id="charttypetrend" value="trend" checked="checked"> trend
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="chartype" id="charttypebar" value="column"> bar
                    </label>
                  </div>
                </div>
              </div>
            </form>

          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="process-bstatuser-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  {{!-- comments per user --}}
  <div role="tabpanel" class="bug tab-pane {{commentsuser}}" id="commentsuser">
    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <form class="form-horizontal">
              <div class="form-group form-group-sm">

                {{!-- switch user control --}}
                <div class="row" id="commentsuser_users"></div>

                {{!-- BEGIN Filter --}}

                <div class="row" id="commentsuser_priority">
                  {{!-- here goes the priority dropdown --}}
                </div>

                <div class="row" id="commentsuser_severity">
                  {{!-- here goes the severity dropdown --}}
                </div>

                <div class="row" id="commentsuser_resolution">
                  {{!-- here goes the resolution dropdown --}}
                </div>

                <div class="row" id="commentsuser_opsys">
                  {{!-- here goes the opsys dropdown --}}
                </div>

                <div class="row" id="commentsuser_platform">
                  {{!-- here goes the platform dropdown --}}
                </div>

                <div class="row" id="commentsuser_version">
                  {{!-- here goes the version dropdown --}}
                </div>

                {{!-- END Filter --}}

                {{!-- switch chart type control --}}
                <div class="row" id="commentsuser_charttype">
                  <label for="charttype" class="col-sm-2 control-label">Chart-Type</label>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="chartype" id="charttypetrend" value="trend" checked="checked"> trend
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="chartype" id="charttypeboxplot" value="boxplot"> boxplot
                    </label>
                  </div>
                </div>
              </div>
            </form>

          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="process-commentsuser-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{!-- issues per attribute --}}
  <div role="tabpanel" class="tab-pane {{bugsattribute}}" id="bugsattribute">
    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <form class="form-horizontal">
              <div class="form-group form-group-sm">
                
                {{!-- switch user control --}}
                <div class="row" id="bugsattribute_users"></div>

                {{!-- BEGIN Filter --}}

                <div class="row" id="bugsattribute_priority">
                  {{!-- here goes the priority dropdown --}}
                </div>

                <div class="row" id="bugsattribute_severity">
                  {{!-- here goes the severity dropdown --}}
                </div>

                <div class="row" id="bugsattribute_resolution">
                  {{!-- here goes the resolution dropdown --}}
                </div>

                <div class="row" id="bugsattribute_opsys">
                  {{!-- here goes the opsys dropdown --}}
                </div>

                <div class="row" id="bugsattribute_platform">
                  {{!-- here goes the platform dropdown --}}
                </div>

                <div class="row" id="bugsattribute_version">
                  {{!-- here goes the version dropdown --}}
                </div>

                {{!-- END Filter --}}

              </div>
            </form>

          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="process-bugsattribute-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{!-- patches per user --}}
  <div role="tabpanel" class="tab-pane {{patchesuser}}" id="patchesuser">
    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <form class="form-horizontal">
              <div class="form-group form-group-sm">

                {{!-- switch user control --}}
                <div class="row" id="patchesuser_users"></div>

              </div>
            </form>

          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="process-patchesuser-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
