<!-- Nav tabs -->
<ul id="productmetrics-tabs" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="{{comuser}}">
    <a href="/productmetrics/commit_user" aria-controls="comuser" role="tab">Commits per user</a>
  </li>
  <li role="presentation" class="{{commodule}}">
    <a href="/productmetrics/commit_module" aria-controls="commodule" role="tab">Commits per module</a>
  </li>
  <li role="presentation" class="{{comloc}}">
    <a href="/productmetrics/commit_loc" aria-controls="comloc" role="tab">LOC per commit</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {{!-- commits per user --}}
  <div role="tabpanel" class="tab-pane {{comuser}}" id="comuser">

    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <form class="form-horizontal">
              <div class="form-group form-group-sm">

                {{!-- switch user control --}}
                <div class="row" id="comuser_users">
                  {{!-- here goes the users dropdown --}}
                </div>

              </div>
            </form>
          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="comuser-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{!-- commits per module --}}
  <div role="tabpanel" class="tab-pane {{commodule}}" id="commodule">
    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <form class="form-horizontal">
              <div class="form-group form-group-sm">

                {{!-- switch user control --}}
                <div class="row" id="commodule_users">
                  {{!-- here goes the users dropdown --}}
                </div>

                {{!-- switch module control --}}
                <div class="row" id="commodule_modules">
                  {{!-- here goes the modules dropdown --}}
                </div>

              </div>
            </form>
          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="commodule-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Lines Of Code per commit --}}
  <div role="tabpanel" class="tab-pane {{comloc}}" id="comloc">
    <div class="row">
      <br>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <br>

            <form class="form-horizontal">
              <div class="form-group form-group-sm">

                {{!-- switch user control --}}
                <div class="row" id="comloc_users">
                  {{!-- here goes the users dropdown --}}
                </div>

                {{!-- switch bug status control --}}
                <div class="row" id="comloc_loc">
                  <label for="openclosed" class="col-sm-2 control-label">Lines</label>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="loc" id="all" value="all" checked="checked"> all
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="loc" id="linesAdded" value="added"> added
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="loc" id="linesRemoved" value="removed"> removed
                    </label>
                  </div>
                </div>

                {{!-- switch chart type control --}}
                {{!--<div class="row" id="comloc_charttype">
                  <label for="charttype" class="col-sm-2 control-label">Chart-Type</label>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="chartype" id="charttypetrend" value="trend" checked="checked"> trend
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="chartype" id="charttypeboxplot" value="boxplot"> boxplot
                    </label>
                  </div>
                </div>--}}
              </div>
            </form>

          </div> {{!-- panel-heading --}}

          <div class="panel-body">
            <div id="product-comloc-chart">
              {{!-- here goes the chart --}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
